.style {
  color: black;
  font-weight: bold;
  margin: 0;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.cont {
  /* display: flex; */
  border: 2px solid black;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.name {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
}
