.row:nth-child(odd) {
  background-color: white;
}

.row:nth-child(even) {
  background-color: #a9a8a8;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
